flows.json
[{"id":"8bc48b2d.799af8","type":"tab","label":"Diabetic Prediction Model","disabled":false,"info":""},{"id":"34f9dbaf.033b24","type":"ui_form","z":"8bc48b2d.799af8","name":"","label":"","group":"aa10eeb6.37a42","order":1,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"P","type":"number","required":true,"rows":null},{"label":"Glucose","value":"G","type":"number","required":true,"rows":null},{"label":"BloodPressure","value":"BP","type":"number","required":true,"rows":null},{"label":"SkinThickness","value":"S","type":"number","required":true,"rows":null},{"label":"Insulin","value":"I","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"DiabetesPedigreeFunction","value":"DPF","type":"number","required":true,"rows":null},{"label":"Age","value":"A","type":"number","required":true,"rows":null}],"formValue":{"P":"","G":"","BP":"","S":"","I":"","BMI":"","DPF":"","A":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":160,"wires":[["b284abb8.49d838"]]},{"id":"b284abb8.49d838","type":"function","z":"8bc48b2d.799af8","name":"Global Variables","func":"global.set(\"Pregnancies\",msg.payload.P)\nglobal.set(\"Glucose\",msg.payload.G)\nglobal.set(\"BloodPressure\",msg.payload.BP)\nglobal.set(\"SkinThickness\",msg.payload.S)\nglobal.set(\"Insulin\",msg.payload.I)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"DiabetesPedigreeFunction\",msg.payload.DPF)\nglobal.set(\"Age\",msg.payload.A)\nvar apikey = \"7yPZ7nqPzKxNlDQq-ymJmcnKD2B1B_ufASDdT6lWuXcx\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":100,"wires":[["c99554eb.c2ae98","96c2994.17ea068"]]},{"id":"c99554eb.c2ae98","type":"debug","z":"8bc48b2d.799af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":170,"y":260,"wires":[]},{"id":"96c2994.17ea068","type":"http request","z":"8bc48b2d.799af8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":40,"wires":[["153f847c.8a1c2c","f507e8d0.cf3708"]]},{"id":"153f847c.8a1c2c","type":"debug","z":"8bc48b2d.799af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":340,"wires":[]},{"id":"f507e8d0.cf3708","type":"function","z":"8bc48b2d.799af8","name":"","func":"var Pregnancies = global.get(\"Pregnancies\")\nvar Glucose = global.get(\"Glucose\")\nvar BloodPressure = global.get(\"BloodPressure\")\nvar SkinThickness = global.get(\"SkinThickness\")\nvar Insulin = global.get(\"Insulin\")\nvar BMI = global.get(\"BMI\")\nvar DiabetesPedigreeFunction = global.get(\"DiabetesPedigreeFunction\")\nvar Age = global.get(\"Age\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[[\"Pregnancies\",\"Glucose\",\"BloodPressure\",\"SkinThickness\",\"Insulin\",\"BMI\",\"DiabetesPedigreeFunction\",\"Age\"]],\"values\":[[Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":60,"wires":[["7f46fedd.f5e05"]]},{"id":"7f46fedd.f5e05","type":"http request","z":"8bc48b2d.799af8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/7db9213f-8c91-40a4-8afe-0dc81a631a2d/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":120,"wires":[["230e696f.119666","844bb531.8bc2b8"]]},{"id":"844bb531.8bc2b8","type":"debug","z":"8bc48b2d.799af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"230e696f.119666","type":"function","z":"8bc48b2d.799af8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][1][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":200,"wires":[["844bb531.8bc2b8","efa0e04b.c8282"]]},{"id":"efa0e04b.c8282","type":"ui_text","z":"8bc48b2d.799af8","group":"aa10eeb6.37a42","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":280,"wires":[]},{"id":"aa10eeb6.37a42","type":"ui_group","z":"","name":"Diabetic Prediction Model","tab":"4c88e9c.a6ce518","order":1,"disp":true,"width":"6","collapse":false},{"id":"4c88e9c.a6ce518","type":"ui_tab","z":"","name":"Enter the Values","icon":"dashboard","disabled":false,"hidden":false}]